@charset "utf-8";


/* 헤더,푸터,본문 큰틀 */

#wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


header {
    width: 100%;
    /*     max-width: 1920px; */
    height: 120px;
    position: fixed;
    z-index: 999;
    margin: 0 auto;
    transition: all 0.7s ease-in-out;
}

.bg {
    background: url(../img/desk3.png) center;
    background-size: cover;
    width: 100%;
    height: 120px;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.show {
    opacity: 0.8;
}

#menu {
    width: 100%;
    position: absolute;
    top: 0;
    background: #f0f0f0;
    transition: all 0.7s ease-in-out;
    background-image: url(../img/code.png);
    background-repeat: no-repeat;
    background-position: 10% 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

h1 {
    line-height: 0px;
    padding: 0 20px;
}

h1 img {
    width: 50px;
}

#menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    /*     position: relative;
    top: 50px; */
}

#menu ul li {
    line-height: 70px;
    font-size: 20px;
    padding: 0 20px;
}

.fill {
    margin: 20px auto;
    text-align: center;
    /*  width: fit-content; */
    display: table;
    position: relative;
}

.fill::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-fill-color: white;
    width: 0;
    overflow: hidden;
    transition: .6s;
}

.fill:hover::after {
    width: 100%;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #2E2E2E;
    color: #C4C4C4;
}

footer p {
    text-align: center;
    line-height: 100px;
    font-size: 16px;
    font-weight: 300;
}

/*  Layout 
-----------------------------------*/
#content {
    width: 100%;
    height: 100%;
    text-align: center;
}

#content.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

/*  ABOUT 영역 
-----------------------------------*/

.introduce {
    width: 100%;
    height: 100vh;  
}

.profile {
    width: 70vw;
    height: 70vw;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

/*  SKILLS 영역 
-----------------------------------*/

.skills {
    width: 100%;
    height: 800px;
    
}

/*  PORTFOLIO 영역 
-----------------------------------*/

.education {
    width: 100%;
    height: 800px;
    
}

/*  ? 영역 
-----------------------------------*/

.license {
    width: 100%;
    height: 800px;
   
}

@media screen and (min-width: 660px) {
    .profile {
        width: 450px;
        height: 450px;
    }
}

.profile img {
    width: 105%;
    height: 120%;
    object-fit: cover;
    position: relative;
    bottom: 22px;
}

/*  background
-----------------------------------*/

.white_brick{
    background-color: #f0f0f0;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

.dark_brick{
    background-color: #e5e5e5;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
 }

/*  navbar
-----------------------------------*/

#floatdiv {
    /* 브라우저를 기준으로 위치가 잡힘 */
    position: absolute;
    left: 0;
    top: 300px;
    margin-left: -50px;
}

#floatdiv ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#floatdiv ul li span {
    margin: 0 0 5px 0;
    cursor: none;
}

#floatdiv ul li #btn01,
#floatdiv ul li #btn02,
#floatdiv ul li #btn03,
#floatdiv ul li #btn04,
#floatdiv ul li #btn05 {
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #000000;
    border-radius: 25px;
}

#floatdiv ul li:hover #btn01,
#floatdiv ul li:hover #btn02,
#floatdiv ul li:hover #btn03,
#floatdiv ul li:hover #btn04,
#floatdiv ul li:hover #btn05 {
    background-color: #e5e5e5;
}

#floatdiv ul li.active #btn01,
#floatdiv ul li.active #btn02,
#floatdiv ul li.active #btn03,
#floatdiv ul li.active #btn04,
#floatdiv ul li.active #btn05 {
    background-color: black;
}