@charset "utf-8";

#menu ul li:nth-child(2) a {
    color: white;
}

#menu ul:before {
    width: 15px;
    height: 15px;
    content: "";
    display: inline-block;
    background-color: white;
    background-size: contain;
    top: -11px;
    left: 61px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 4px 3px rgb(0 0 0 / 30%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}


.popup {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.popup_content {
    width: 80%;
    height: 70%;
    overflow: auto;
    padding: 50px;
    background: white;
    color: black;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    z-index: 99;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    display: block;
}

.close span {
    position: fixed;
    width: 20px;
    height: 3px;
    background: black;
}

.close span:nth-child(1) {
    transform: rotate(45deg);
}

.close span:nth-child(2) {
    transform: rotate(135deg);
}
/* .view모달팝업 끝 */

section {
    width: 100%;
    min-height: 869px;
    margin: 0 auto;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
    padding-top: 130px;
}

#content {
    width: 100%;
    height: 100%;
    text-align: center;
}

#content #works {
    width: 100%;
}

#works ul.w_lists {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

ul.w_lists li .list1 {
    width: 320px;
    height: 425px;
    padding-top: 8px;
    box-sizing: border-box;
}

ul.w_lists li .list1:hover {
    border-radius: 1px;
    /* background: rgba(255, 255, 255, .3); */
    background: rgba(0, 0, 0, .2);
}

.hover {
    width: 262px;
    padding: 5px;
    margin: 0 auto;

    --c: #2e2e2e;
    /* box color */
    color: #0000;
    background:
        linear-gradient(10deg, #fff 50%, var(--c) 0) calc(100% - var(--_p, 5%))/200%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 5%) no-repeat,
        var(--_c, #0000);
    -webkit-background-clip: text, padding-box, padding-box;
    background-clip: text, padding-box, padding-box;
    transition: 0s, color .5s, background-color .5s;
}

ul.w_lists li .list1:hover .hover {
    --_c: white;
    --_p: 95%;
    transition: 0.9s, color 0s .5s, background-color 0s .5s;
}

ul.w_lists li .list1 .monitor {
    width: 300px;
    height: 270px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

ul.w_lists li .list1 .monitor .screen {
    position: absolute;
    width: 269px;
    height: 152px;
    left: 14px;
    top: 28px;
    overflow: hidden;
}

ul.w_lists li .list1 .monitor .screen>img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 182px;
}

ul.w_lists li .list1 .monitor .screen1>img {
    transition: 4s all ease;
}

ul.w_lists li .list1 .monitor .screen2>img {
    transition: 9s all ease;
}

ul.w_lists li .list1 .monitor:hover .screen>img {
    object-position: bottom;
}

ul.w_lists li .list1 .monitor img:first-child {
    width: 90%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

ul.w_lists li .list1 .monitor .web {
    width: 300px;
    margin: 0 auto;
    position: absolute;
    top: 0px;
}

ul.w_lists li .list1 .monitor .web img:first-child {
    width: 90%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    position: relative;
}

#works ul.w_lists li ul.flex {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    padding: 0 10px;
}

#works ul.w_lists li .button {
    padding: 0 10px;
}

#works ul.w_lists li .flex {
    display: flex;
    justify-content: space-evenly;
}

#works ul.w_lists li .link,
#works ul.w_lists li .view {
    width: 120px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3);
}

#works ul.w_lists li .link span,
#works ul.w_lists li .view span {
    margin-left: 6px;
}

#works ul.w_lists li .link:hover span,
#works ul.w_lists li .view:hover span {
    display: inline-block;
    transition: 0.5s;
    transform: translateX(-2px);
    color: white;
}

#works ul.w_lists li .link:hover,
#works ul.w_lists li .view:hover {
    color: white;
    box-sizing: border-box;
    border: 2px solid white;
    background: #2e2e2e;
    line-height: 44px;
}

#works ul.w_lists li .link:after,
#works ul.w_lists li .view:after {
    background: url(../img/magnifying-glass.png) no-repeat center;
    content: "";
    display: inline-block;
    position: relative;
    opacity: 0;
    transition: 0.2s;
    transform: translateX(10px);
}

#works ul.w_lists li .link:after {
    background: url(../img/link.png) no-repeat center;
}

#works ul.w_lists li .view:after {
    background: url(../img/magnifying-glass.png) no-repeat center;
}

#works ul.w_lists li .link:hover:after,
#works ul.w_lists li .view:hover:after {
    background: url(../img/magnifying-glass.png) no-repeat center;
    content: "";
    display: inline-block;
    width: 18px;
    height: 40%;
    position: relative;
    top: 4px;
    right: -4px;
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.2s;
}

#works ul.w_lists li .link:hover:after {
    background: url(../img/link.png) no-repeat center;
    background-size: contain;
}

#works ul.w_lists li .view:hover:after {
    background: url(../img/magnifying-glass.png) no-repeat center;
    background-size: contain;
}



